:root {
    --text-color: #ffffff;
    --bg-color: linear-gradient(to left, #000000, #000000);
    --hover-bg-color: rgba(9, 9, 9, 0.42);
    --hover-post-color: rgb(32 0 55 / 64%);
    --post-text-color: #f0f0f0;
    --fade-in: linear-gradient(to left, #000000, #000000);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@keyframes fadeIn {
    0% { opacity: 1; }
    100% { opacity: 1; }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    background-image:
    linear-gradient(to bottom right, #3600487b, #1930c30f),
    url('../assets/background.webp');
    filter: brightness(1);
    background-size: cover;
    filter: brightness(1);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    animation: zoom 40s infinite alternate ease-in-out;
    z-index: -1;
}

@keyframes zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.5); }
}

/* HEADER */
header {
  position: fixed;
  top: 0; width: 100%;
  background: rgba(28, 28, 28, 0);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.08);
  padding: 10px 40px;
  display: flex; justify-content: space-between; align-items: center;
  z-index: 1000;
}

header h1 a {
  font-size: 1.2em;
  font-weight: 200;
  color: #ffffff;
  text-decoration: none;
}

header h1 a:hover {
  color: #12cfa9;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ccc;
  font-weight: 400;
  transition: color 0.25s;
}

header nav a:hover {
  color: #20e0bd;
}

header nav a.active {
  color: #e84393;
  font-weight: 600;
}

.container {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding: 20px;
}

.post {
    width: 100%;
    max-width: 900px; 
    border-radius: 0px;
    padding: 30px; 
    background-color: #ffffff00;
    backdrop-filter: blur(5px);
    text-shadow: none;
    word-wrap: break-word;
    font-size: clamp(14px, 2vw, 20px);
    transition: transform 0.3s ease, background-color 0.5s ease;
    box-shadow: 0px 0px 10px 0 #0000004e;
}

.post:hover {
    background-color: #0000005f;
    transform: translateY(-5px) scale(1.02);
    backdrop-filter: blur(35px);
}

.post h2 {
    color: var(--text-color);
    font-size: 1.8em;
}

.post p {
    color: var(--post-text-color);
    margin: 10px 0;
}

.home {
    position: fixed;
    bottom: 10px;
    left: 13px;
    font-size: clamp(12px, 2vw, 18px);
    color: white;
    text-decoration: none;
    z-index: 2;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.home:hover {
    transform: scale(0.95);
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    .container {
        width: 95%;
        max-width: 100%;
        row-gap: 30px;
    }
    .post {
        width: 100%;
        max-width: 100%;
        padding: 25px;
        font-size: clamp(12px, 3vw, 18px);
    }
}

.year-selector {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.year-link {
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
    font-weight: 100;
}

.year-link.active {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.568);
    font-weight: bold;
    font-weight: 200;
}